@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap'); /*párrafos*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@700&display=swap'); /*Kaguya*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap'); /*ASOBI*/
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap'); /*nichijou*/

*{
    margin: 0;
    padding: 0;
}



/*----------------------------HEADER---------------------*/

.logo{
   height: 30px;      
}

/*-----------------------CAROUSEL------------------------*/

#asobi_img p{color: black; font-family: 'Akshar', sans-serif; font-weight: 500; font-size: large;}
#asobi_img h5{color: rgb(153, 88, 42); font-family: 'PT Serif', serif; font-size: 45px;}

#nichijou_img p{color:black; font-family: 'Akshar', sans-serif; font-weight: 500; font-size:large;}
#nichijou_img h5{color: rgb(15, 72, 158); font-family: 'Arimo', sans-serif; font-size: 55px;}

#kaguya_img p{color: rgb(255, 255, 255); font-family: 'Akshar', sans-serif; font-weight: 500; font-size: large;}
#kaguya_img h5{color: rgb(226, 15, 121); font-family: 'Lexend Exa', sans-serif; font-size: 35px;}


.carousel-inner img{
    object-fit: cover;
    object-position: top;
    height: 600px;
}

/*--------------------------FOOTER----------------------*/


.footer{
    height:6rem;
    border-bottom: 10px;
    background-color: yellow;
    display: flex;
    width: 100%;
}
