*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');

.navbar .navbar-nav{
    margin: 0 auto;
}

.nav-item a{
    color: white;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Akshar', sans-serif;
}

#logOutButton{margin-left: 10px;}

/*-----------------------------------------------------*/

.body{
    height: 2000px;
    background-image: url(../media/thumb-1920-1227847.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /*cuántas veces la imagen se repite en el fondo*/
    background-attachment: fixed; /*cuando la página tiene scroll, el fondo se queda quieto, si quisiera que se mueva, tendria que poner en vez de fixed, scroll, probar para terminar de entender*/
}

/*--------------CONTAINER------------------*/



.row{
    padding-top: 50px;
}

.col-4{
    padding: 10px;
}

.col-8{
    padding: 30px;
}



/*-------------------------------------------PÁGINA "LOG IN"-----------------------------------------------*/
























